<p id="notice"><%= notice %></p>

<p>
  <strong>Exchange:</strong>
  <%= @stock_symbol.exchange %>
</p>

<p>
  <strong>Symbol:</strong>
  <%= @stock_symbol.symbol %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @stock_symbol.company_name %>
</p>

<p>
  <strong>Sector:</strong>
  <%= @stock_symbol.sector %>
</p>

<p>
  <strong>Industry:</strong>
  <%= @stock_symbol.industry %>
</p>

<%= link_to 'Edit', edit_stock_symbol_path(@stock_symbol) %> |
<%= link_to 'Back', stock_symbols_path %>
