
<div class="row home_bg">
  <h1>
    <%= image_tag ('logo.png') %> Portfol.io
    <span>Make More Money</span>
  </h1>

<!-- slider -->

  <div class="col-md-6 padding-0 carousel_box">

    <div id="carousel" class="carousel slide" data-ride="carousel">
      <!-- Menu -->
      <ol class="carousel-indicators">
          <li data-target="#carousel" data-slide-to="0" class="active"></li>
          <li data-target="#carousel" data-slide-to="1"></li>
          <li data-target="#carousel" data-slide-to="2"></li>
      </ol>

      <!-- Items -->
      <div class="carousel-inner">

          <div class="item active">
              <%= image_tag ("home5.jpg") %>
                <div class="carousel-caption">
                  <h2>VIEW</h2>
                  <p>Analyze stock details</p>
                </div>
          </div>
          <div class="item">
              <%= image_tag ("home1.jpg") %>
              <div class="carousel-caption">
                <h2>BUILD</h2>
                <p>Build your own personal portfolio</p>
              </div>
          </div>
          <div class="item">
              <%= image_tag ("slide1.jpg") %>
              <div class="carousel-caption">
                <h2>DIVERSIFY</h2>
                <p>Get recommendations to improve your portfolio</p>
              </div>
          </div>
      </div>
     <!--  <a href="#carousel" class="left carousel-control" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a href="#carousel" class="right carousel-control" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
      </a> -->
    </div>
  </div>

  <div class="col-md-6 col-xs-12 info_section">
      <%= render "homeNavbar" %>

    <% unless user_signed_in? %>
    <!-- Search -->
    <div class="col-md-12 col-xs-12 search_box_area after_login_page">

      <h2 class="text-center">VIEW . BUILD . DIVERSIFY</h2>

     <%= form_tag stock_search_path, :method => "GET" do %>
        <%= text_field_tag 'id', nil, placeholder: "Enter Companyname, Ticker or Symbol", size: 50 %>
        <%= button_to do %>
           <i class="fa fa-search" aria-hidden="true"></i>
        <% end %>
      <% end %>
    </div>
    <!-- stock info -->

    <% if @stock %>
      <div class="col-md-10 col-md-offset-1 col-xs-12 stock_info_box" id="stockInfoClose">

        <%= render 'stockInfo' %>
      </div>
    <% elsif @nothing %>
      <%= @nothing %>
    <% end %>

    <% if @error %>
      <%= @error %>
    <% end %>

    <div class="col-md-12 col-xs-12 footer_only_homepage">
      <p>All Right Reserved Protfol.io 2017</p>
    </div>
    <% else %>
      <div class="col-md-6 col-md-offset-6 col-xs-12 search_box_area after_login_page">
        <h2 class="text-center">VIEW . BUILD . DIVERSIFY</h2>
        <%= form_tag stock_search_path, :method => "GET" do %>
        <%= text_field_tag 'id', nil, placeholder: "Enter Companyname, Ticker or Symbol", size: 50 %>
        <%= button_to do %>
           <i class="fa fa-search" aria-hidden="true"></i>
        <% end %>
      <% end %>

        <div class="text-center portfolio_button">
          <%#= link_to stocks_path, class: 'home_button view_portfolio' do %>
            <!-- <i class="fa fa-pie-chart" aria-hidden="true"></i>
            VIEW PORTFOLIO -->
          <%# end %>
        </div>
      </div>

      <!-- stock info -->

        <% if @stock %>
          <div class="col-md-5 stock_info_box homepage_login_search" id="stockInfoClose">
            <%= render 'stockInfo' %>
          </div>
        <% elsif @nothing %>
          <%= @nothing %>
        <% end %>

        <% if @error %>
          <%= @error %>
        <% end %>

       <div class="col-md-6 col-md-offset-6 col-xs-12">
          <div class="col-md-12 footer_only_homepage">
            <p>All Right Reserved Stocky 2017</p>
          </div>
        </div>
    <% end %>




  </div>

</div><!-- row end -->

