<h1>Recommendations</h1>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Stock</th>
      <th>Recommendation Score</th>
    </tr>
  </thead>

  <tbody>
    <% recommendations = {} %>
    <% Stock.all.each do |stock| %>
      <% if stock.user_id != current_user.id %>
        <% if recommendations[stock.ticker] %>
          <% recommendations[stock.ticker] += 1 %>
        <% else %>
          <% recommendations[stock.ticker] = 1 %>
        <% end %>
      <% end %>
    <% end %>
    <% recommendations.sort_by {|_key, value| value}.reverse.each do |stock| %>
      <% begin %>
        <tr>
          <td><%= stock[0] %></td>
          <td>
           <%= stock[1] %>
          </td>
        </tr>
      <% rescue StandardError %>
        <tr>
          <td><%= stock %></td>
          <td><%= "Error" %></td>
        </tr>
        <% next %>
      <% end %>
    <% end %>
  </tbody>
</table>

<br/>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Stock</th>
      <th>Popularity Score</th>
    </tr>
  </thead>

  <tbody>
    <% popularity = {} %>
    <% Stock.all.each do |stock| %>
      <% if stock.user_id != current_user.id %>
        <% if popularity[stock.ticker] %>
          <% popularity[stock.ticker] += 1 %>
        <% else %>
          <% popularity[stock.ticker] = 1 %>
        <% end %>
      <% end %>
    <% end %>
    <% popularity.sort_by {|_key, value| value}.reverse.each do |stock| %>
      <% begin %>
        <tr>
          <td><%= stock[0] %></td>
          <td>
           <%= stock[1] %>
          </td>
        </tr>
      <% rescue StandardError %>
        <tr>
          <td><%= stock %></td>
          <td><%= "Error" %></td>
        </tr>
        <% next %>
      <% end %>
    <% end %>
  </tbody>
</table>