<%= render "home/navbar" %>

<div class="col-md-6 col-md-offset-3">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title text-center" id="loginModalLabel">Welcome to Stocky</h3>
        <p class="text-center margin-top-20">Please enter your details</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="fa fa-times" aria-hidden="true"></i>
        </button>
      </div>
      <div class="modal-body">
        <div class="panel panel-default">
          <div class="panel-body">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="form-group">
                <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Please enter your email address' %>
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
              </div>

              <div class="form-group">
                <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Please enter the password' %>
                <i class="fa fa-lock" aria-hidden="true"></i>
              </div>

              <% if devise_mapping.rememberable? -%>
                <div class="form-group">
                  <%= f.check_box :remember_me %> <%= f.label :remember_me %>

                </div>
              <% end -%>

              <div class="actions text-center">
                <%= f.submit "LOG IN", class: "btn btn-primary"%>
              </div>
            <% end %>
          </div>
          <!-- <%#= render "devise/shared/links" %> -->
        </div>
      </div>
    </div>
   </div>
</div>